body {
  font-family: Helvetica, Arial, Sans-serif;
  text-align:center;
  font-size: 15px;
  line-height: 21px;
  background-image: url(background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: black;   
}

html, body {
  height: 100%;
}

table {
  position:relative;
  margin-top:2%;
  width: 90%;
  height: 90%;
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
}

thead {
  background-color: black;
  color: white;
  font-size: 25px;
}

tbody {
  background-color: #8E8E8E;
  font-weight: thin;
}

th {
  width: 50%;
}

th, td {
  border:5px solid black;
  text-align: center;
  padding: 15px 5px;
}

#collected_items_table_header {
  height: 10%;
  font-size: 20px;
  font-weight: bold;
}

.last_rows {
  height: 15%;
  font-size: 20px;
  font-weight: bold;
}

.letter_size {
  font-size: 20px;
  font-weight: bold;
}

.items_row {
  background-color: #AEAEAE;
}

#item_a {
  background-image: url(letter_a.png);
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  width: 122px; height: 122px;
  background-size: 100% 100%;
}

#item_a:hover {
  background-image: url(letter_a_2.png);
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  width: 122px; height: 122px;
  background-size: 100% 100%;
}

#item_b {
  background-image: url(letter_b.png);
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  width: 122px; height: 122px;
  background-size: 100% 100%;
}

#item_b:hover {
  background-image: url(letter_b_2.png);
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  width: 122px; height: 122px;
  background-size: 100% 100%;
}

#item_c {
  background-image: url(letter_c.png);
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  width: 122px; height: 122px;
  background-size: 100% 100%;
}

#item_c:hover {
  background-image: url(letter_c_2.png);
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  width: 122px; height: 122px;
  background-size: 100% 100%;
}

#item_d {
  background-image: url(letter_d.png);
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  width: 122px; height: 122px;
  background-size: 100% 100%;
}

#item_d:hover {
  background-image: url(letter_d_2.png);
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  width: 122px; height: 122px;
  background-size: 100% 100%;
}

#new_game {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  cursor:pointer;
  color:#777777;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
#new_game:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
  background-color:#dfdfdf;
}
#new_game:active {
  position:relative;
  top:1px;
}
